# Common
/node_modules
/coverage
.DS_Store
.nvmrc

# Logs
/logs
*.log

# Env
.env*
!.env.example
!.env.test

# Generated Prisma Client
/prisma/generated/prisma

# Build output
dist/

# TypeScript
*.tsbuildinfo
/.pnpm-store
